.header-container {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 1% 3% 0% 4%; 
    background-color: aquamarine;
}
.title-text {
    font-size: 34px; 
    font-weight: bold; 
  }
  