.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 100vh;
  }
  
  .user-details-card {
    text-align: center;
  }
  
  .avatar-container {
    border-radius: 50%;
  }
