<div class="container">
    
    <div *ngIf="userDetails.id" class="user-details" (click)="navigateToUserDetails(userDetails.id)">
        <img class="user-avatar" [src]="userDetails.avatar" alt="User Image">
        <div class="user-details-info">
          <h2 class="user-name">{{ userDetails.first_name }} {{ userDetails.last_name }}</h2>
          <p class="user-email">{{ userDetails.email }}</p>
        </div>
    </div>

    <div *ngIf="!userDetails.id" class="user-cards">
        <div class="user-card" *ngFor="let user of users" (click)="navigateToUserDetails(user.id)">
        <img class="user-avatar" [src]="user.avatar" alt="User Image">
        <div class="user-details">
            <h2 class="user-name">{{ user.first_name }} {{ user.last_name }}</h2>
            <p class="user-email">{{ user.email }}</p>
        </div>
        </div>
    </div>

  <mat-paginator [pageSize]="pageSize" [length]="totalUsers" (page)="onPageChange($event)">
</mat-paginator>
</div>